body {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.5, #0044A7), color-stop(3, #B2C2F0));
    height: 100%;
}

.line {
    padding: 50px 0px 25px 0px;
    width: 100%;
    height: 100%;
    border-top: ;
}

.machineContainer {
    background-color: ;
    padding: 1px 1px 1px 1px;
    overflow: hidden;
    height: 410px;
    width: 1000px;
    margin-left: 150px;
}

.frame {
    float: left;
    width: 290px;
    height: 400px;
    margin-top: ;
    margin-right: 20px;
    background-image: url("../img/steel.png");
    background-color: ;
    border-radius: 10px;
    z-index: -10;
}
.frame:last-child {
    margin-right: 0px;
}

.slotMachine {
    width: 245px;
    height: 270px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin-right: 70px;
    margin-top: 20px;
    margin-left: 22px;
}

.slotMachine:last-child {
    margin-right: 0px;
}

.machineResult {
    color: #fff;
    text-align: center;
    font-weight: 900;
}

.slotMachine .slot {
    height: 270px;
    width: 245px;
    text-overflow: ellipsis;
    background-position-x: 50%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: contain;
}

.lockinfo {
    width: 250px;
    float: left;
    margin-right: ;
    margin-left: 20px;
    margin-top: ;
    z-index: ;
    background-color: ;
}
.lockinfo:last-child {
    margin-right: 0px;
}

.lock {
    float: left;
    margin-left: 10px;
    margin-top: ;
}

.info {
    float: right;
    margin-right: 10px;
    margin-top: ;
}

.small-image {
    max-width: 100px;
}

.clearfix {
    clear: both;
}

.mslot1 {
    background-image: url("../img/movieslot1.jpg");
}

.mslot2 {
    background-image: url("../img/movieslot2.jpg");
}

.mslot3 {
    background-image: url("../img/movieslot3.jpg");
}

.mslot4 {
    background-image: url("../img/movieslot4.jpg");
}

.mslot5 {
    background-image: url("../img/movieslot5.jpg");
}

.mslot6 {
    background-image: url("../img/movieslot6.jpg");
}

.sslot1 {
    background-image: url("../img/snackslot1.png");
}

.sslot2 {
    background-image: url("../img/snackslot2.png");
}

.sslot3 {
    background-image: url("../img/snackslot3.jpg");
}

.sslot4 {
    background-image: url("../img/snackslot4.png");
}

.sslot5 {
    background-image: url("../img/snackslot5.jpg");
}

.sslot6 {
    background-image: url("../img/snackslot6.png");
}

.dslot1 {
    background-image: url("../img/drinkslot1.jpg");
}

.dslot2 {
    background-image: url("../img/drinkslot2.jpg");
}

.dslot3 {
    background-image: url("../img/drinkslot3.png");
}

.dslot4 {
    background-image: url("../img/drinkslot4.png");
}

.dslot5 {
    background-image: url("../img/drinkslot5.png");
}

.dslot6 {
    background-image: url("../img/drinkslot6.png");
}

.slot7 img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}

.ng-binding h3 {
    text-overflow: ellipsis;
}

.title {
    display: block;
    width: 250px;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-weight:  bold;
    background-color: ;
    margin-left: 20px;
}

.description {
    float: left;
    width: ;
    background-color: ;
}

.clearfix {
    clear: both;
}

.dropdownpos {
    margin-left: 490px;
}

.dropdown {
    width: 200px;
    float: left;
    margin-right: 120px;
}

.dropdown:last-child {
    margin-right: 0px;
}

#textMachine,
#textMachine2 {
    width: 520px;
    height: 67px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
}

#textMachine > *,
#textMachine2 > * {
    padding: 0px 0px;
}

.slotMachineButton {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin-left: 500px;
}

.slotMachineButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background: -moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color: #ffc477;
    border-radius: 75px;
    text-indent: 0px;
    border: 6px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    height: 150px;
    line-height: 127px;
    margin-top: 10px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #cc9f52;
    cursor: pointer;
}

.slotMachineButton:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
    background: -moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color: ffc477;
}

.slotMachineButton:active {
    position: relative;
    top: 1px;
}
